---
---
@import "{{ site.theme }}";
.navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
  background-image: url("../navbar.png");
  margin-bottom: 20px;
  box-shadow: 5px 5px 8px black;
}

.page-header{
  background-color: none;
  background-image: none;
}

.navbar{
  background-color: black !important;
}

.list-group{
  background-color: black;
}

.list-group-item.active{
  background-color: black;
}
.parallax-window {
    min-height: 596px;
    width: 90%;
    background: transparent;
}
