---
---
@import "{{ site.theme }}";
.navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
  background-image: url("../navbar.png");
  margin-bottom: 20px;
  box-shadow: 5px 5px 8px black;
}

.page-header{
  background-color: black;
  background-image: none;
}
